<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../js/vue.js"></script>
  </head>
  <body>
    <!-- 
      计算属性：
        1 定义：要用的属性不存在，要通过已有属性计算得来
        2 原理：底层借助了 Object.defineproperty 方法提供的 getter 和 setter
        3 get 函数什么时候执行？
          1 初次读取会执行一次
          2 当依赖的数据发生改变时会被再次调用
        4 与 methods 实现相比，内部有缓存机制（复用）效率高，调试方便
        5 计算属性最终也是出现在 vm 身上，直接读取即可
        6 如果计算属性要被修改，那就要用 set 函数，且 set 函数要引起依赖的数据发生变化

     -->
    <div id="root">
      <input type="text" v-model="one" />
      <input type="text" v-model="two" />
      <div>全名：{{fullName}}</div>
    </div>
    <script>
      const vm = new Vue({
        el: '#root',
        data: {
          one: '张',
          two: '三',
        },
        computed: {
          fullName: {
            // get有什么用？当有人读取fullName时，get就会被调用，且返回值就作为fullName 的值
            // get 什么时候调用？1、初次读取 fullName 时，2 所依赖的数据发生变化时
            get() {
              return this.one + '-' + this.two
            },
            set(value) {
              const arr = value.split('-')
              this.one = arr[0]
              this.two = arr[1]
            },
          },
        },
      })
    </script>
  </body>
</html>
